@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    /* Mapeando Cores Primitivas do Design System -> CSS Variables */
    
    /* Neutral */
    --color-neutral-0: #FFFFFF;
    --color-neutral-100: #F9FAFB;
    --color-neutral-200: #F3F4F6;
    --color-neutral-900: #1F2937;
    --color-neutral-1000: #111827; /* Dark Backgrounds */
    
    /* Brand (Lime) */
    --color-brand-500: #DFFE35; /* Primary */
    --color-brand-600: #D7FE03;
    
    /* Semantic Colors */
    --color-success: #44CB93; /* Green-500 */
    --color-danger: #EB4B5B;  /* Red-500 */
  }

  body {
    @apply bg-neutral-100 text-neutral-900 font-sans antialiased;
  }
}

@layer components {
  /* Utility classes baseadas em tokens se necessário */
}
